body {
    background: linear-gradient(to bottom right, blue, pink);
}

.form-outline mb-3 {
    padding-bottom: 2rem;
}

.button {
    text-align: center;
    padding-top: 2rem;

    border-radius: 50px;

}